* {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

#h1_1box {
  text-align: center;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;

}

#img_2box{
  display: flex;
  justify-content: center;
  align-items: center;

}

#primera_imagen{
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#primer_elemento{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#segundo_elemento{
  width: auto;
  height: 350px;
  display: flex;
  justify-content:
  align-items:center;
}
#segundo_parrafo{
  width: auto;
  height: 350px;
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
}

#tres_imagenes{
  width: auto;
      height: 348px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}
.ico {
    font-size: 60px !important;
}

.color_distinto {
    background-color: #1a1a13 !important;

}

.segunda_imagen {
    height: 237px;
    width: 399px;
    font-size: 16px;
    object-fit: cover;
    margin: 10px;
}

.tres_img {
    height: 200px;
    width: 310px;
    object-fit: cover;
    padding: 5px;
}

.tres_iconos {
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.dos_items_sobre {
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
